.titulo {
    text-align: center;
}

.conteudo {
    text-align: center;
}

nav .brand-logo {
    padding-right: 1%;
    float: left;
    position: inherit;
}

.botao {
    width: 50%;
    margin-bottom: 2%;
    text-align: center !important;
}

.btnform {
    width: 15%;
    margin-bottom: 1%;
    text-align: center !important;
}

#apresentacao {
    text-align: justify;
}

.imagens {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

nav .card {
    background-color: #51B1A5;
    padding: 2% !important;
}

nav {
    margin-bottom: 2%;
}

i {
    height: 50% !important;
}

.texto {
    padding-top: 45px;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: white;
}

.entrar {
    background-image: url("ideias.jpg");
}

main {
    flex: 1 0 auto;
}

#pedido {
    padding: 2%;
}

#imgpedido {
    width: 20%;
    height: 20%;
    display: block;
    margin: 0 auto;
}

#login {
    position: relative;
    top: 100%;
}

i {
    float: none !important;
}


/* CORES */

.dark-primary-color {
    background: #00796B;
}

.default-primary-color {
    background: #009688;
}

.light-primary-color {
    background: #B2DFDB;
}

.text-primary-color {
    color: #FFFFFF;
}

.accent-color {
    background: #E040FB;
}

.primary-text-color {
    color: #212121;
}

.secondary-text-color {
    color: #757575;
}

.divider-color {
    border-color: #BDBDBD;
}