.titulo {
    text-align: center;
}

.conteudo {
    text-align: center;
}

nav .brand-logo {
    float: left;
    position: inherit;
}

.botao{
    width: 50%;
    margin-bottom: 2%;
    text-align: center !important;
}

.doacoes{
}

.container{
}

#apresentacao{
    text-align: justify;
}

.imagens{
	width: 100px;
	height: 100px;
 	border-radius: 50%;
}

.card{
   background-color: #51B1A5;
}

.navbar{
   background-color: #51B1A5; 
}

body{
    background-color: #DBDCDE;
}