.titulo {
    text-align: center;
}

.conteudo {
    text-align: center;
}

nav .brand-logo {
    padding-right: 1%;
    float: left;
    position: inherit;
}

.botao {
    width: 50%;
    margin-bottom: 2%;
    text-align: center !important;
}

.btnform {
    width: 15%;
    margin-bottom: 1%;
    text-align: center !important;
}

#apresentacao {
    text-align: justify;
}

.imagens {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

nav .card {
    background-color: #51B1A5;
    padding: 2% !important;
}

nav{
    margin-bottom: 2%;
}

i {
    height: 50% !important;
}

.navbar {
    background-color: #51B1A5;
}

.texto {
    padding-top: 45px;
}

body {
    background-color: #DBDCDE;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

#pedido{
    padding: 2%;
}

#imgpedido{
    width: 20%;
    height: 20%;
    display: block;
    margin: 0 auto;
}

i{
    float: none !important;
}