/* Fonts */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,700");
@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great');

/* 59CDAC */


.card-blockquote{
    margin-top: 20%;
    width: 100%;
    position:absolute;
    background-color: white;
    border-radius: 5%;
}
.input-group{
    margin-left: 30%;
    margin-right: 30%;
}


/* ----------------------------- HEADER ----------------------------*/

#topo h1{
  margin: 0;
  padding-top: 5%;
  text-align: center;
  color:  #59CDAC;
  font-size: 6em;
  font-family: 'Fredericka the Great', cursive;

}

/* ------------------------------- Base ----------------------------- */
body{
    background-image: url("bg.jpg");
    background-size:  2000px, 2200px, auto;
    background-repeat: no-repeat;    
}

label{
    font-family: 'Open Sans', sans-serif;
    font-weight: 100; 
}
h2 {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100; 
}




.btn {
    background-color: #59CDAC;
    margin-top: 1%;
    margin-left: 45%;
    color: white;

}

.btn:hover{
    background-color: #449C81;
}



